.b-main,
.b-form {
    margin-top: 40px;
}

.b-form{
    max-width: 350px;
}

.b-menu__active {
    background-color: #ddd;
}

.b-input {
    margin-bottom: 12px;
}

.b-input__label {
    display: block;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 3px;
}

.b-input__ctrl {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    padding: 0 10px;
    height: 35px;
    background: #ffffff;
    min-width: 250px;
}

.b-addform__btn {
    margin-top: 15px;
}

.b-button {
    display: inline-block;
    padding: 10px 20px;
    min-width: 150px;
    text-align: center;
    font-size: 14px;
    border: 1px solid #bbb;
    color: #333333 !important;
    text-decoration: none !important;
    background: none;
    cursor: pointer;
    border-radius: 4px;
}

.b-button:hover {
    border-color: #999;
}

.b-button[disabled] {
    border-color: #bbb;
    cursor: default;
    background: #efefef;
    color: #999999 !important;
}

.b-input__error {
    font-size: 12px;
    margin-top: 1px;
    color: red;
}

.btn{
    cursor: pointer;
    margin-right: 10px;
}

.b-item {
    position: relative;
    padding: 25px 0 25px;
    border-bottom: 1px solid #ddd;
}

.b-item__name {
    font-size: 14px;
    margin-bottom: 5px;
}

.b-item__delete {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
    cursor: pointer;
    transition: all .15s ease;
}

.b-item__delete:hover {
    color: #666666;
}

.b-item__votes {
    font-size: 18px;
    color: #dddddd;
    padding-right: 10px;
}
