body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header{
  height: 50px;
  border-bottom:1px solid #ddd;
  background-color: #efefef;
  margin-bottom: 30px;
}

.center{
  margin: 0 auto;
  padding: 0 20px;
  max-width: 960px;
}

.b-menu{
  overflow: hidden;
}

.b-menu__i{
  float: left;
  height: 50px;
  padding: 0 15px;
  font-size: 16px;
  text-decoration: none !important;
  color: #333333 !important;
  transition: all .15s ease;
  line-height: 50px;
}

.b-menu__i:hover{
  opacity: .9;
}

.b-main{
  margin-bottom: 50px;
}

.b-main__title{
  font-size: 25px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 15px;
}

.b-main__list{
  max-width: 500px;
}

.b-menu__active{
  background-color: #ddd;
}

.b-input{
  margin-bottom: 12px;
}

.b-input__label{
  display: block;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 3px;
}

.b-input__ctrl {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 10px;
  height: 35px;
  background: #ffffff;
  min-width: 250px;
}

.b-addform__btn{
  margin-top: 15px;
}

.b-button{
  display: inline-block;
  padding: 10px 20px;
  min-width: 150px;
  text-align: center;
  font-size: 14px;
  border:1px solid #bbb;
  color: #333333 !important;
  text-decoration: none !important;
  background: none;
  cursor: pointer;
  border-radius: 4px;
}

.b-button:hover{
  border-color: #999;
}

.b-button[disabled]{
  border-color: #bbb;
  cursor: default;
  background: #efefef;
  color: #999999 !important;
}

.b-input__error{
  font-size: 12px;
  margin-top: 1px;
  color: red;
}

.b-item{
  position: relative;
  padding: 25px 0 25px 60px;
  border-bottom:1px solid #ddd;
}

.b-item__up,
.b-item__down{
  position: absolute;
  top: 2px;
  left: 0;
  font-size: 10px;
  width: 28px;
  height: 28px;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
  border:1px solid #ddd;
  transition: all .15s ease;
  cursor: pointer;
}

.b-item__up:hover,
.b-item__down:hover{
  border-color: #999;
}

.b-item__down{
  top: auto;
  bottom: 2px;
}

.b-item__name{
  font-size: 14px;
  margin-bottom: 5px;
}

.b-item__delete{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 18px;
  color: #999999;
  cursor: pointer;
  transition: all .15s ease;
}

.b-item__delete:hover{
  color: #666666;
}

.b-item__votes{
  font-size: 18px;
  color: #dddddd;
  padding-right: 10px;
}
